@-moz-document domain("nestor.rug.nl"), domain("signon.rug.nl") {
/* 
University of Groningen Student Portal Dark Theme

Copyright 2019–2021 Ramon Meffert

Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
*/
/* css variables */
:root {
	--co-primary: #bc1919;
	--co-secondary: #00bfff;
	--co-text: #ddd;
	--bg-primary: black;
	--bg-secondary: #212121;
	--bg-hover: #323232;
	--bg-active: #434343;
	--bg-input: #1a1a1a;
	--op-focus: 1;
	--op-hover: 0.8;
	--op-blur: 0.6;
	--spacing: .5rem;
	--br: .3rem;
	/* border radius */
	--text-size: 1.1rem;
	--text-small: calc(0.9 * var(--text-size));
	--text-tiny: calc(0.8 * var(--text-small));
	--heading-small: 1.3rem;
}
}

@-moz-document domain("nestor.rug.nl"), domain("signon.rug.nl") {
/* ## Header and navigation  ## */
/* Main bg color */
#globalNavPageNavArea {
	background-color: var(--bg-secondary) !important;
}

/* Blue accent color part */
#topTabs.bgBanner.topTabs {
	background-color: transparent !important;
}

.brandingImgWrap,
.tabWrapper-left,
.tabWrapper-center,
.tabWrapper-right {
	background-color: transparent;
}

.tabWrapper-left,
.tabWrapper-center,
.tabWrapper-right {
	margin: 0;
	width: auto;
	position: absolute;
	top: 0;
	left: 14rem;
	height: 3rem;
	;
	padding: var(--spacing) calc(3 * var(--spacing));
	;
}

/* "Student portal" branding */
.tabWrapper-left::before,
.tabWrapper-center::before,
.tabWrapper-right::before,
.appTabs::before {
	display: none;
}

/* Menu items */
.appTabs {
	height: 100%;
}

.appTabs td {
	height: 100% !important;
	display: block;
}

.appTabs a,
.appTabs a:hover,
.appTabs a:active,
.appTabs a:focus {
	margin: 0;
	padding: 0;
	line-height: 100% !important;
	height: 100% !important;
	background-color: transparent !important;
	color: var(--fg-main) !important;
	opacity: var(--op-blur);
	font-family: "Open Sans" !important;
	font-weight: 400 !important;
	margin-right: calc(3 * var(--spacing));
	display: flex;
	align-items: center;
	border: none !important;
	outline: none !important;
	position: relative;
}

.appTabs a span {
	border: none !important;
	padding: 0 !important;
}

.appTabs a:hover {
	opacity: var(--op-hover);
}

.appTabs a:focus::before,
.appTabs a:active::before {
	content: '';
	display: block;
	background-color: var(--co-text);
	width: 100%;
	padding: 0 var(--spacing);
	height: 1.5em;
	position: absolute;
	left: calc(-1 * var(--spacing));
	z-index: -1;
	border-radius: var(--br);
}

.appTabs a:hover span {
	color: var(--co-secondary);
}

.appTabs .active a {
	opacity: var(--op-focus);
	color: var(--co-text) !important;
}

.brandingImgWrap {
	height: 3rem;
	padding: var(--spacing) calc(3 * var(--spacing));
	;
}

.brandingImgWrap a {
	display: block;
	position: static;
}

/* Randomly placed slogan */
.brandingImgWrap a::after {
	display: none;
}

/* Huge logo needs to be smaller*/
.bannerImage {
	height: 3rem;
	width: 11rem;
	background-size: auto 3rem;
	background-position: left;
	padding: 0;
	margin: 0;
}

table.bouncer {
	border: none;
}

/* Menu on the right (user info, language) */
#global-nav {
	height: 3rem;
	padding: var(--spacing) calc(3 * var(--spacing));
}

#global-nav-link {
	height: 3rem;
	padding: 0;
	margin-right: calc(3 * var(--spacing));
	color: var(--co-text);
	cursor: pointer;
}

#global-nav-link::before {
	display: none;
}

#global-nav-link::after {
	background: none;
	content: "▾";
	width: auto;
	height: auto;
	font-size: 1rem;
	opacity: var(--op-blur);
	vertical-align: top;
}

.global-nav-bar.logout {
	height: 3rem !important;
	margin: var(--spacing);
	margin-right: calc(3 * var(--spacing));
	margin-left: 0;
}

.global-nav-bar.logout > a,
.global-nav-bar.logout > a:hover,
.global-nav-bar.logout > a:active,
.global-nav-bar.logout > a:focus {
	height: 3rem;
	background-size: 100%;
	background-position: 50% 46% !important;
	margin: 0 !important;
	filter: brightness(255);
	opacity: var(--op-blur);
	width: 1.2rem !important;
}

.global-nav-bar.logout > a:hover {
	opacity: var(--op-hover);
}

#hotSpots {
	margin: 0;
	padding: 0;
	height: auto;
}

/* For whatever reason the language selection section is called the "fun zone" */
.funZone {
	display: block;
	overflow: hidden;
	height: 3rem;
}

.funZone a {
	width: auto;
	overflow: hidden;
	text-decoration: none !important;
	font-size: 1.2rem;
	padding: 0;
}

.funZone a:hover::before {
	opacity: var(--op-hover);
}

.funZone a:focus {
	opacity: var(--op-focus);
	outline: none !important;
}

/* Let's just hope they don't change the order of these buttons */
.funZone a:first-of-type::before {
	content: "NL";
	margin-right: var(--spacing);
}

.funZone a:last-of-type::before {
	content: "EN"
}

.funZone a::before {
	display: block !important;
	opacity: var(--op-blur);
	color: var(--co-text);
}

.funZone a img {
	display: none;
}

#headerLanguageSelector {
	height: 3rem;
	display: flex;
	align-items: center;
}

.flyout-menu {
	top: calc(3rem + 2 * var(--spacing));
	width: 100%;
}

#badgeTotalCount {
	position: static;
	top: unset;
	left: unset;
	right: unset;
	vertical-align: 20%;
	font-size: .7em;
	line-height: .7em;
	min-width: 1.4rem;
	min-height: 1.4rem;
	border-radius: .7rem;
	padding: 0 .44rem;
	box-sizing: border-box;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	margin-left: .7rem;
}

#global-nav-flyout {
	display: flex;
	flex-direction: column;
	box-shadow: 0 .5rem 2rem rgba(0, 0, 0, 0.8);
	border-radius: 0 0 var(--br) var(--br);
	overflow: hidden;
	background-color: var(--bg-primary);
}

#global-nav-tools {
	float: none;
	width: 100%;
	height: auto;
	background-color: var(--bg-secondary);
	border-bottom: 1px solid var(--bg-hover);
}

#global-nav-tools ul {
	display: flex;
	justify-content: space-between;
	width: 100%;
	margin: 0;
	padding: .5rem 1rem;
	box-sizing: border-box;
}

#vertical_container {
	position: static;
	overflow: visible;
	width: 100%;
}

#bottomButtons {
	width: 100%;
	display: flex;
	background-color: var(--bg-secondary);
}

#bottomButtons li {
	width: auto;
	flex-grow: 1;
	border: none;
}

.flyout-menu .accordion_toggle span {
	background-color: var(--bg-secondary);
	border-bottom: 1px solid var(--bg-hover);
	padding: var(--spacing) calc(2 * var(--spacing));
	color: var(--co-text) !important;
	font-weight: normal;
}

.flyout-menu .accordion_toggle:hover span {
	background-color: var(--bg-hover);
	color: var(--co-text) !important;
}

.flyout-menu .accordion_toggle[aria-expanded="true"] span {
	background-color: var(--bg-hover);
}

.flyout-menu .accordion_content {
	background-color: var(--bg-secondary);
	box-shadow: none;
	scrollbar-width: none;
}

.flyout-menu .labelMenuItem {
	padding: var(--spacing) calc(2 * var(--spacing));
	color: var(--co-text);
	text-transform: none;
	font-size: 1.3rem;
}

.flyout-menu .course-list.accordion-list.courses {
	margin: 0;
}

.accordion_content li {
	margin: 0;
	padding: var(--spacing) calc(2 * var(--spacing));
}

.accordion_content li a {
	color: var(--co-text);
	font-weight: normal !important;
	border-bottom: none !important;
	line-height: 1.5em;
}

.accordion_content li a:hover {
	text-decoration: underline;
}
}

@-moz-document domain("nestor.rug.nl"), domain("signon.rug.nl") {
/* Background color and 'reset' */
#learn-oe-body,
#globalNavPageNavArea,
.locationPane,
html {
	background-color: var(--bg-primary);
}

.portal .container {
	background-color: transparent;
	padding: 0;
}

/* Hide corona information */
.containerPortal > div:first-of-type {
	display: none;
}

.portal .container {
	padding: 0 var(--spacing);
}

.portal .container .column-3 {
	margin: 0;
}

.portal .container .portlet {
	margin: calc(2 * var(--spacing)) var(--spacing) !important;
	box-shadow: none;
	border: 1px solid rgba(255, 255, 255, 0.1);
	border-radius: var(--br);
	overflow: hidden;
	background-color: var(--bg-secondary);
	color: var(--co-text);
}

.portal .container .portlet .dragHandle {
	background-color: var(--bg-secondary);
	transition: background .1s;
	border-bottom: 1px solid var(--bg-hover);
	padding: calc(2 * var(--spacing)) calc(6 * var(--spacing));
}

.portal .container .portlet:hover .reorder {
	border: none;
}

.portal .container .portlet .dragHandle:hover {
	background-color: var(--bg-hover);
}

.portal .container .portlet .dragHandle .moduleTitle {
	color: var(--co-text);
	font-size: var(--heading-small);
	line-height: var(--heading-small);
}

.portal .container .portlet li {
	border: none;
}

.portal .container .portlet input[type=text] {
	background-color: var(--bg-input) !important;
	color: var(--co-text);
	padding: var(--spacing) calc(2 * var(--spacing)) !important;
	height: auto !important;
	border: 1px solid var(--bg-hover) !important;
	border-radius: var(--br);
	font-size: 1.1rem !important;
}

.portal .container .portlet input[type=text]:focus {
	box-shadow: none !important;
	background-color: var(--bg-);
}

.collapsible {
	padding: calc(2 * var(--spacing));
}

#globalNavPageContentArea {
	max-width: 1200px;
	margin: 0 auto;
}

.portlet .edit_controls {
	padding: 0;
}

.portlet .edit_controls .moduleToggleLink {
	display: block;
	left: 0;
	top: 0;
	margin: 0 !important;
	padding: calc(2 * var(--spacing)) !important;
	height: var(--heading-small);
	width: var(--heading-small);
	background-position: center !important;
}

.portlet .edit_controls .moduleCloseLink {
	display: block;
	right: 0;
	top: 0;
	margin: 0 !important;
	padding: calc(2 * var(--spacing)) !important;
	height: var(--heading-small);
	width: var(--heading-small);
	background-position: center !important;
}

.portlet .reorder {
	display: none;
}

.portlet .clearfix::after {
	display: none;
}
}

@-moz-document domain("nestor.rug.nl"), domain("signon.rug.nl") {
/* Background color and 'reset' */
.portal .container {
	margin: 0;
}

input:focus,
button:focus,
select:focus,
a:focus {
	outline: none;
}
}

@-moz-document domain("nestor.rug.nl"), domain("signon.rug.nl") {
/* Hacks for modules on the home page */
/* Courses */
#mc_listWrapper {
	margin: 0;
}

#mc_searchBar {
	margin-bottom: 0;
}

.mc_search {
	margin-bottom: calc(2 * var(--spacing));
}

.mc_search + br {
	display: none;
}

.mc_header,
.mc_yearNav {
	font-size: var(--heading-small) !important;
	font-family: "Open Sans";
	font-weight: normal;
	padding: 0 var(--spacing);
	margin-bottom: var(--spacing);
	margin-top: 0;
	display: block;
}

.mc_header .icon-star-empty {
	display: none;
}

#mc_listWrapper li:hover {
	background-color: transparent;
}

#mc_listWrapper li a:hover {
	text-decoration: underline;
}

#mc_listWrapper li:hover .mc_unavailable {
	cursor: not-allowed;
}

.mc_enrollmentListClass li {
	padding: var(--spacing);
	line-height: 140%;
}

.mc_enrollmentListClass li a {
	color: var(--co-text);
}

.mc_enrollmentListClass li .mc_star {
	display: block;
	height: 100%;
	float: left;
}

.mc_enrollmentListClass li .mc_star.icon-star,
.mc_enrollmentListClass li .mc_star.icon-star-empty {
	margin-right: calc(2 * var(--spacing));
}

#mc_starredCourses {
	margin: var(--spacing) 0;
}

#mc_starredCourses > div > br {
	display: none;
}

.mc_enrollmentListClass li .icon-user {
	display: none;
}

.mc_enrollmentsWrapper {
	height: auto !important;
}

.mc_announcement li {
	align-items: center;
	justify-content: flex-start;
	opacity: var(--op-blur);
	margin-left: 0 !important;
	padding-left: 2rem;
}

.mc_announcement li:hover {
	opacity: var(--op-hover);
}

.mc_announcement li:last-of-type {
	padding-bottom: 0;
}

.mc_announcement li i {
	margin-right: var(--spacing);
}

.mc_yearNav {
	display: flex;
	align-items: center;
	justify-content: space-between !important;
	padding: 0;
	margin-bottom: var(--spacing);
}

.mc_selectedYearCode {
	background-color: transparent;
	font-size: var(--heading-small);
}

.mc_yearNav .mc_previousButton span,
.mc_yearNav .mc_nextButton span {
	display: none;
}

.mc_yearNav .mc_previousButton,
.mc_yearNav .mc_nextButton {
	font-size: 0;
}

.mc_yearNav .mc_previousButton::before {
	transform: scaleX(-1);
	/* mirror */
}

.mc_yearNav .mc_previousButton::before,
.mc_yearNav .mc_nextButton::before {
	content: "➜";
	font-size: var(--heading-small);
	color: var(--co-text);
	display: flex;
	align-items: center;
	justify-content: flex-end;
	padding-right: var(--spacing);
	padding-bottom: calc(.2 * var(--spacing));
	width: calc(4 * var(--heading-small));
	height: calc(1.2 * var(--heading-small));
	border-radius: var(--br);
	float: left;
	transition: background .1s;
}

.mc_yearNav .mc_previousButton:hover::before,
.mc_yearNav .mc_nextButton:hover::before {
	background-color: var(--bg-hover);
}

.mc_yearNav .mc_previousButton:active::before,
.mc_yearNav .mc_nextButton:active::before {
	background-color: var(--bg-focus);
}

/* RUG tools */
.RUGtools-tool {
	border: none;
	color: var(--co-text);
}

.RUGtools-tool td {
	padding: 0 0 var(--spacing) 0 !important;
	transition: background .1s;
}

.RUGtools-tool:hover td strong {
	text-decoration: underline !important;
}

.RUGtools-tool td.RUGtools-item-text {
	padding-left: calc(2 * var(--spacing)) !important;
	font-size: 0;
	vertical-align: middle;
}

.RUGtools-tool td.RUGtools-item-text br {
	display: none;
	float: left;
}

.RUGtools-tool td.RUGtools-item-text strong {
	font-weight: normal;
	font-size: var(--text-size);
	color: var(--co-text);
	float: left;
}

/* Special case for IRIS icon */
.RUGtools-tool img[src$="iris.svg"] {
	filter: invert(100%) brightness(4);
}

/* List of Results */
#pg_PrintAction {
	display: none;
}

#pg_Search {
	box-sizing: border-box;
	width: 100%;
	margin-bottom: calc(2 * var(--spacing));
}

#pg_grades > label {
	display: inline-flex;
	align-items: center;
	font-size: var(--text-size);
	margin-right: calc(2 * var(--spacing));
}

#pg_grades input[type=checkbox] {
	-moz-appearance: none;
	width: var(--text-size);
	height: var(--text-size);
	border: 1px solid var(--co-text);
	border-radius: var(--br);
	margin: 0;
	margin-right: var(--spacing);
}

#pg_grades input[type=checkbox]:checked {
	background-color: var(--co-text);
}

#pg_HeaderRow {
	border-bottom: 1px solid var(--bg-hover);
}

#pg_gradesList .pg_code-cell,
#pg_HeaderRow .pg_code-cell {
	display: none;
}

#pg_gradesList .pg_title-cell,
#pg_HeaderRow .pg_title-cell {
	width: 62%;
}

#pg_gradesList .pg_date-cell,
#pg_HeaderRow .pg_date-cell {
	width: 22%;
}

#pg_gradesList .pg_grade-cell,
#pg_HeaderRow .pg_grade-cell {
	width: 8%;
	text-align: left;
}

#pg_gradesList .pg_ects-cell,
#pg_HeaderRow .pg_ects-cell {
	width: 8%;
	text-align: left;
}

/* Need to know */
#needToKnow {
	filter: invert(100%) contrast(74%) hue-rotate(193deg) saturate(0%);
}

/* Timetable */
#Timetable_Tools .tt-day {
	border-collapse: collapse;
	display: flex;
	margin: 0;
	padding: var(--spacing) 0;
}

#Timetable_Tools .tt-activities {
	overflow-x: hidden;
}

#Timetable_Tools .tt-activities .tt-day:not(:last-of-type) {
	border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

#Timetable_Tools .tt-day-schedule {
	border-bottom: none;
	padding: 0;
	max-width: calc(100% - 2em - 2 * var(--spacing));
	display: block;
}

#Timetable_Tools .tt-day-header {
	min-width: 2em;
	padding: 0;
	margin: 0;
	margin-right: var(--spacing);
	border-right: 1px solid rgba(255, 255, 255, 0.1);
	padding-right: var(--spacing);
}

#Timetable_Tools .tt-day-header-text {
	display: flex;
	flex-direction: column;
	border: none;
	padding: 0;
}

#Timetable_Tools .tt-day-header-text div {
	text-align: right;
	font-size: var(--text-size);
	padding: 0;
}

#Timetable_Tools .tt-day-header-day {
	order: 0;
	font-size: var(--text-tiny) !important;
	line-height: var(--text-tiny) !important;
	margin-bottom: var(--spacing);
	text-transform: uppercase;
	font-weight: bold;
}

#Timetable_Tools .tt-day-header-number {
	order: 1;
}

#Timetable_Tools .tt-day-header-today,
#Timetable_Tools .tt-group {
	display: none;
}

#Timetable_Tools .tt-activity-item {
	display: flex;
	justify-content: flex-start;
}

#Timetable_Tools .tt-activity-item:not(:last-of-type) {
	margin-bottom: var(--spacing);
}

#Timetable_Tools .tt-time {
	font-size: var(--text-tiny);
	line-height: .8rem;
	padding: var(--spacing);
	min-width: 3em;
	max-width: 3em;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	margin-right: var(--spacing);
	background-color: var(--bg-hover);
	color: var(--co-text);
}

#Timetable_Tools .tt-today .tt-time {
	background-color: var(--bg-active);
}

#Timetable_Tools .tt-activity {
	padding: 0;
	margin: 0;
	width: 80%;
}

#Timetable_Tools .tt-activity-mini {
	font-weight: normal;
	font-size: var(--text-small);
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	padding: 0;
	margin: 0;
}

#Timetable_Tools .tt-instructors {
	font-size: var(--text-tiny);
	margin-left: -.15rem;
	/* compensate fors space */
}

#Timetable_Tools .tt-instructors i {
	display: none;
}

#Timetable_Tools .tt-buttons-div {
	margin-left: 0;
	display: flex;
}

#Timetable_Tools .tt-buttons-div > a button {
	border: 1px solid rgba(255, 255, 255, .1);
	background: var(--bg-hover);
	box-sizing: border-box;
	height: 3rem;
	color: var(--co-text);
	width: unset;
	transition: .1s background-color;
}

#Timetable_Tools .tt-buttons-div > a:hover button {
	background-color: var(--bg-active);
}

#Timetable_Tools .tt-buttons-div a:first-child button {
	border-radius: var(--br) 0 0 var(--br);
	width: 3rem;
	padding: 0;
	border-right: none;
}

#Timetable_Tools .tt-buttons-div a:last-child {
	flex-grow: 1;
}

#Timetable_Tools .tt-buttons-div a:last-child button {
	border-radius: 0 var(--br) var(--br) 0;
	width: 100%;
	text-align: left;
	padding: 0 1rem;
	font-weight: normal;
}

/* Course evaluations */
/* Hide description ("these are evaluations" really? no way) and counter (there are rarely more than 2) */
#Course_evaluations_Tools .divOptionsTable,
#Course_evaluations_Tools .contentDiv > p {
	display: none;
}

#Course_evaluations_Tools .divContentTable {
	margin: 0;
}

#Course_evaluations_Tools .divContentTable .contentTable {
	background-color: transparent;
	color: var(--co-text);
}

#Course_evaluations_Tools .divContentTable .contentTable th {
	color: var(--co-text);
	border-bottom: 1px solid rgba(255, 255, 255, 0.2) !important;
}

#Course_evaluations_Tools .divContentTable .contentTable tr.nostyle {
	display: none;
}

#Course_evaluations_Tools .divContentTable .contentTable td,
#Course_evaluations_Tools .divContentTable .contentTable th {
	padding: var(--spacing);
	border: none;
}

#Course_evaluations_Tools .notifHeaderDiv a {
	font-weight: normal;
	color: var(--co-text);
	opacity: var(--op-blur);
	font-size: var(--text-small);
}

#Course_evaluations_Tools .notifHeaderDiv a:hover {
	opacity: var(--op-hover);
	text-decoration: none;
}
}

@-moz-document domain("nestor.rug.nl"), domain("signon.rug.nl") {
/* # Course page */
/* ## Breadcrumbs */
#breadcrumbs.breadcrumbs {
	padding: var(--spacing);
}

#breadcrumbs.breadcrumbs li {
	margin: 0;
	padding: 0;
}

#breadcrumbs.breadcrumbs li > a,
#breadcrumbs.breadcrumbs li > span {
	margin: 0;
	padding: 0;
	color: var(--co-text);
	opacity: var(--op-blur);
	font-weight: normal;
	vertical-align: top;
}

#breadcrumbs.breadcrumbs li:hover > a {
	opacity: var(--op-hover);
	text-decoration: none;
}

#breadcrumbs.breadcrumbs li:not(:first-of-type) > a::before,
#breadcrumbs.breadcrumbs li:not(:first-of-type) > span::before {
	content: "/";
	display: inline;
	padding: 0 var(--spacing);
}

#breadcrumbs.breadcrumbs .courseArrow {
	display: none;
}

#breadcrumbs.breadcrumbs .courseId {
	font-family: "Courier";
	font-size: var(--text-small);
	line-height: var(--text-size);
	height: var(--text-size);
	background-color: var(--bg-active);
	padding: .15rem var(--spacing) 0 var(--spacing);
	border-radius: var(--br);
	display: inline-block;
}

/* ## Page content */
.contentPane {
	background-color: transparent;
	color: var(--co-text);
}

.contentPane .shadow {
	border-top: none;
}

.contentPane h1 span,
.contentPane h2 span,
.contentPane h3 span,
.contentPane h4 span {
	color: var(--co-text) !important;
}

.contentPane #copyright {
	display: none;
}

#containerdiv {
	background-color: transparent !important;
	border: none;
	color: var(--co-text);
	padding: 0;
	margin: calc(2 * var(--spacing));
}

#containerdiv .contentList {
	margin: 0;
	padding: 0;
}

#containerdiv .liItem {
	background-color: var(--bg-secondary) !important;
	border-radius: var(--br);
	border: 1px solid rgba(255, 255, 255, 0.1);
	padding: 0;
	overflow: hidden;
}

#containerdiv .liItem h3 {
	font-size: var(--heading-small);
	margin-bottom: var(--spacing);
}

#containerdiv .liItem:not(:last-of-type) {
	margin-bottom: var(--spacing);
}

#containerdiv .liItem:hover {
	background-color: var(--bg-secondary) !important;
}

#containerdiv .liItem .item_icon {
	display: none;
}

/* this contains the post header for some reason */
#containerdiv .liItem .item {
	background-color: var(--bg-secondary);
	transition: background .1s;
	border-bottom: 1px solid var(--bg-hover) !important;
	padding: calc(2 * var(--spacing)) calc(3 * var(--spacing));
}

#containerdiv .liItem .item h3 {
	margin: 0;
	font-weight: normal;
}

#containerdiv .liItem .details {
	padding: calc(2 * var(--spacing)) calc(3 * var(--spacing));
}

#containerdiv .liItem .details:empty {
	display: none;
}

#containerdiv .liItem table {
	border-collapse: collapse;
	border-width: 2px 0 2px 0;
	border-color: white;
	background-color: transparent !important;
}

#containerdiv .liItem table td {
	padding: var(--spacing);
	border-width: 0 0 1px 0;
}

#containerdiv .liItem table td,
#containerdiv .liItem table td * {
	color: var(--co-text) !important;
	background-color: transparent !important;
	text-align: left !important;
}

#containerdiv .liItem table td p:last-of-type {
	margin-bottom: 0 !important;
}

#containerdiv .liItem table tr:first-child td,
#containerdiv .liItem table th {
	font-weight: bold;
}

/* Grades page */
.filterBarHorizontal {
	background-color: var(--bg-secondary);
	border: 1px solid rgba(255, 255, 255, 0.1);
	border-radius: var(--br);
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: var(--spacing);
	height: auto;
	position: static;
	width: unset;
	margin-bottom: var(--spacing);
}

.filterBarHorizontal .sorter {
	margin: 0;
	position: static;
	height: auto;
	order: 1;
}

.filterBarHorizontal #filterby {
	padding: 0;
	width: auto;
	order: 0;
}

.filterBarHorizontal ul li a {
	color: var(--co-text);
	opacity: var(--op-blur);
	font-size: var(--text-size);
}

.filterBarHorizontal ul li a:hover {
	cursor: pointer;
	box-shadow: none;
	opacity: var(--op-hover);
}

.filterBarHorizontal ul li a.active {
	box-shadow: none;
	border: none;
	color: var(--co-text);
	border-radius: var(--br);
	opacity: var(--op-active);
}

#grades_wrapper {
	margin-top: 0 !important;
	float: none !important;
}

#grades_wrapper .row {
	color: var(--co-text);
	border: none;
	border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

#grades_wrapper .row:hover {
	background-color: rgba(255, 255, 255, 0.1);
}

#grades_wrapper .calculatedRow {
	box-shadow: none;
	border-width: 0 0 1px 0;
}

.gradeTableNew {
	background-color: var(--bg-secondary);
	border: 1px solid rgba(255, 255, 255, 0.1);
	border-radius: var(--br);
}

.gradeTableNew .genericButton {
	box-shadow: none;
}

.gradeTableNew .grades_header {
	position: static;
	height: auto;
	display: flex;
	background-color: transparent;
	color: white;
	font-size: var(--text-size);
	padding: var(--spacing);
	border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.gradeTableNew .grades_header .cell {
	font-size: var(--text-size) !important;
	text-transform: none;
}
}

@-moz-document domain("nestor.rug.nl"), domain("signon.rug.nl"), domain("xfactor.rug.nl") {
/* 2FA page */
/* Just hide most things*/
#main > .logonColumns > .greyBox,
#main > .logonColumns > .clear,
#main > .logonColumns > .nestorLogonContent,
#header > .nav-holder,
#header .search-bar,
#footer {
	display: none;
}

/* Remove background images */
body,
#header,
#main,
.w1,
.w2,
.w3 {
	background-image: none;
	background-color: transparent;
}

/* Fix main */
#main {
	display: flex;
	justify-content: center;
	padding: 0;
}

#main .logonColumns {
	padding: 0;
	width: unset;
	height: unset;
	display: flex;
	flex-direction: column;
}

#main h1 {
	color: white;
	text-shadow: none;
}

#main .logonForm {
	border: 1px solid rgba(255, 255, 255, 0.1);
	background-color: var(--bg-secondary);
	box-shadow: none;
	padding: var(--spacing) calc(2 * var(--spacing));
	margin: 0;
	height: unset;
	width: unset;
}

/* Login form is a table. WHY */
#IDPLogin table {
	width: 100%;
}

#IDPLogin tr {
	border: none;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

#IDPLogin tr:not(:last-of-type) {
	margin-bottom: var(--spacing);
}

#IDPLogin td {
	padding: 0;
	text-align: left;
	display: block;
}

#IDPLogin td.label label {
	color: var(--co-text);
	font-weight: normal;
	margin-left: calc(var(--spacing) / 2);
	margin-bottom: calc(var(--spacing) / 2);
	display: block;
}

#IDPLogin input[type=text],
#IDPLogin input[type=password] {
	background-color: var(--bg-secondary) !important;
	color: var(--co-text);
	padding: var(--spacing) calc(2 * var(--spacing)) !important;
	height: auto !important;
	border: 1px solid var(--bg-hover) !important;
	border-radius: var(--br);
	font-size: 1rem !important;
	line-height: normal;
	margin: 0;
	width: 100%;
	box-sizing: border-box;
}

#IDPLogin input[type=text]:focus,
#IDPLogin input[type=password]:focus {
	box-shadow: none !important;
	background-color: var(--bg-)
}

#IDPLogin .login-error {
	margin: 0;
}

#IDPLogin .button-holder {
	margin: 0;
	display: flex;
	justify-content: flex-end;
}

#IDPLogin .button-holder .button-box {
	background: none;
	width: unset;
	height: unset;
}

#IDPLogin .button-holder .button-box button {
	background: none;
	float: none;
	padding: var(--spacing) calc(2 * var(--spacing));
	margin: unset;
	width: unset;
	height: unset;
	line-height: normal;
	border: 1px solid rgba(255, 255, 255, .1);
	border-radius: var(--br);
	background-color: var(--bg-hover);
	font-weight: normal;
	text-shadow: none;
	color: var(--co-text);
}

#IDPLogin .button-holder .button-box button:hover {
	padding: var(--spacing) calc(2 * var(--spacing)) !important;
}
}

@-moz-document domain("signon.rug.nl") {
/* Login page */
.rug-background-menu.rug-shadow-box-inset,
span.rug-site-header__item,
.rug-layout.rug-layout--stretch .rug-layout__item:not(:first-child),
.rug-background-neutral-10.rug-mt-l + .rug-background-white,
footer {
	display: none;
}

.rug-site-header__bar,
.rug-site-header {
	background-color: var(--bg-secondary);
	height: 4rem;
	min-height: 4rem;
	box-sizing: border-box;
}

.rug-site-header .rug-site-header__item:first-child {
	margin: 0 auto;
}

.rug-site-header .rug-site-header__item:not(:first-child) {
	display: none;
}

.rug-site-logo {
	height: 3rem;
	width: auto;
	margin: 0;
	padding: 0;
}

.rug-layout {
	margin: 0;
	/* they're doing some weird stuff w/ negative margins so we need to fix it */
}

.rug-layout.rug-layout--stretch .rug-layout__item {
	padding: 0;
	margin: 20vmax auto 0 auto;
	width: unset;
}

div > .rug-background-neutral-10.rug-mt-l {
	background: transparent !important;
}

.rug-form--login {
	border: 1px solid rgba(255, 255, 255, 0.1);
	background-color: var(--bg-secondary);
	box-shadow: none;
	padding: var(--spacing) calc(2 * var(--spacing));
	margin: 0;
	height: unset;
	width: unset;
	border-radius: var(--br);
}

.rug-form--login label {
	color: var(--co-text);
	font-family: "Open Sans";
	font-weight: normal;
	margin-left: calc(var(--spacing) / 2);
	margin-bottom: calc(var(--spacing) / 2);
	display: block;
}

.rug-form--login input[type=text],
.rug-form--login input[type=password] {
	background-color: var(--bg-secondary) !important;
	color: var(--co-text);
	padding: var(--spacing) calc(2 * var(--spacing)) !important;
	height: auto !important;
	border: 1px solid var(--bg-hover) !important;
	border-radius: var(--br);
	font-size: 1rem !important;
	line-height: normal;
	margin: 0;
	width: 100%;
	box-sizing: border-box;
}

.rug-form--login input[type=text],
.rug-form--login input[type=password] {
	margin-bottom: calc(2 * var(--spacing));
}

.rug-form--login input[type=text]:focus,
.rug-form--login input[type=password]:focus {
	box-shadow: none !important;
	background-color: var(--bg-)
}

.rug-form--login .rug-button {
	background: none;
	float: right;
	padding: var(--spacing) calc(2 * var(--spacing));
	margin: unset;
	width: unset;
	height: unset;
	line-height: normal;
	border: 1px solid rgba(255, 255, 255, .1);
	border-radius: var(--br);
	background-color: var(--bg-hover);
	font-family: "Open Sans";
	font-weight: normal !important;
	text-shadow: none;
	color: var(--co-text);
}
}